@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --clr: #f0f0f5;
}
body{
    /*display: flex;*/
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}
.table-container{
    display: table;
    width: 100%;
}
.left-container, .middle-container, .right-container{
    display: table-cell;
    height: 100vh;
}
.left-container{
    width: 16.3%;
}
.middle-container{
    width: 62%;
    height: 10000px;
}
.right-container{
    width: calc(100%- 16.3%- 62%);
}





.navigation {
    position: fixed; /*was relative*/
    width: inherit;
    height: 100vh;
    background: linear-gradient(50deg, rgb(70, 60, 78) 0%, rgb(58, 52, 88) 100%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.navigation ul{
    width: 100%;
    margin: 0 auto;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: left;
    font-weight: 500;
    text-decoration: none;
}
.navigation ul li a .icon{
    position: relative;
    display: inline-block;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
    opacity: 60%;
}
.navigation ul li a .text{
    position: relative;
    width: 90px;
    color: var(--clr);
    font-weight: 400;
    font-size: 1em;
    margin: 0 15px;
    transition: 0.5s;
}
.navigation ul li:hover a .icon, .navigation ul li:hover a .text{
    color: black;
    opacity: 100%;
}
.navigation ul li.active a .text, .navigation ul li.active a .icon{
    color: black;
    opacity: 1;
}
.navigation ul li:nth-child(4):after{
    content: '';
    background: var(--clr);
    position: absolute;
    height: 1px;
    width: 131px;
    left: 60px;
    top: 90px;
    opacity: 60%;
}
.navigation ul li:nth-child(5){
    margin-top: 50px;
}
.indicator{
    position: absolute;
    height: 70px;
    width: 225px;
    background: var(--clr);
    left: 23px;
    top: 125px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    transition: 0.5s;
}
.indicator:before{
    content: '';
    position: absolute;
    top:-50px;
    right: 0;
    background:transparent;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 10px 0 0 var(--clr);
}
.indicator:after{
    content: '';
    position: absolute;
    bottom:-50px;
    right: 0;
    background:transparent;
    height: 50px;
    width: 50px;
    border-top-right-radius: 30px;
    box-shadow: 10px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator, .navigation ul li:nth-child(1).hovered ~ .indicator{
    transform: translateY(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator, .navigation ul li:nth-child(2).hovered ~ .indicator{
    transform: translateY(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator, .navigation ul li:nth-child(3).hovered ~ .indicator{
    transform: translateY(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator, .navigation ul li:nth-child(4).hovered ~ .indicator{
    transform: translateY(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator, .navigation ul li:nth-child(5).hovered ~ .indicator{
    transform: translateY(calc(70px * 4 + 50px));
}
.navigation ul li:nth-child(6).active ~ .indicator, .navigation ul li:nth-child(6).hovered ~ .indicator{
    transform: translateY(calc(70px * 5 + 50px));
}
a{
    color: black;
}





.header{
    background-color: transparent;
    height: 100px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.page-control{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    position: absolute;
    width: 64px;
    height: 30px;
    left: 48px;
    top: calc(50% - 30px/2);
}
.page-control a{
    text-decoration: none;
    font-size: 1.4em;
}
.page-control a:nth-child(1){
    color: grey;
}
.page-control a:nth-child(2){
    color: black;
    margin-left: 25px;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;

    position: absolute;
    width: 504px;
    height: 40px;
    left: 136px;
    top: calc(50% - 40px/2);

    background: #FFFFFF;
    border-radius: 22px;
    box-shadow: 10px 10px 80px rgba(63, 39, 102, 0.1);
}
input[type='text']{
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.1em;
}
a.search-btn{
    margin-right: 10px;
    color: grey;
    font-size: 1.2em;
}
.info-btn, .toggle-list-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 40px/2);
    background: #FFFFFF;
    box-shadow: 10px 10px 80px rgba(63, 39, 102, 0.1);
    border-radius: 20px;
}
.info-btn{
    right: 80px;
}
.toggle-list-btn{
    right: 30px;
}
.info-btn a, .toggle-list-btn a{
    font-size: 1.2em;
}






.courses-cards{
    position: relative;
    width: 942px;
    height: 250px;
    overflow: hidden;
}
.cards-heading{
    width: inherit;
}
.cards-control{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    position: absolute;
    width: 64px;
    height: 30px;
    right: 19px;
    top: 0;
}
.cards-control a{
    text-decoration: none;
    font-size: 1.4em;
}
.cards-control a:nth-child(1){
    color: grey;
    margin-right: 25px;
}
.cards-control a:nth-child(2){
    color: black;
}
.cards-heading, .cards-container{
    padding-left: 48px;
    padding-right: 30px;
}
.cards-container{
    position: relative;
    top: 0;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:200px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.card{
    flex: 0 0 auto;
    margin-right: 21px;
    position: relative;
    height: 75%;
    width: 274px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    z-index: 1;
}
.card:nth-child(3){
    margin-right: 50px;
}
.card:last-child{
    margin-right: 0;
}
.card:nth-child(1), .card:nth-child(4){
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
}
.card:nth-child(2), .card:nth-child(5){
    box-shadow: 0 0 0 0 rgba(252, 150, 132, 0.5), 0 0 0 0 rgba(136, 217, 249, 0.5);
}
.card:nth-child(3), .card:nth-child(6){
    box-shadow: 0 0 0 0 rgba(228, 195, 233, 0.5), 0 0 0 0 rgba(16, 53, 197, 0.5);
}
.card::after{
    content: "";
    width: 500px;
    height: 500px;
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: -1;
    transition: transform 0.5s ease;
}
.card:nth-child(1)::after, .card:nth-child(4)::after{
    background-image: radial-gradient(circle at right, #64bbaa , #bf65d5);
}
.card:nth-child(2)::after, .card:nth-child(5)::after{
    background-image: radial-gradient(circle at top, #88d9f9 , #fc9684);
}
.card:nth-child(3)::after, .card:nth-child(6)::after{
    background-image: radial-gradient(circle at right bottom, #1035c5 , #e4c3e9);
}
.card:hover{
    transform: translate(0, -6px);
}
.card:nth-child(1):hover, .card:nth-child(4):hover{
    box-shadow: 5px -5px 20px 0 rgba(143, 64, 248, 0.5),
    -5px 5px 20px 0 rgba(100, 187, 170, 0.5);
}
.card:nth-child(2):hover, .card:nth-child(5):hover{
    box-shadow: 5px -5px 20px 0 rgba(252, 150, 132, 0.5),
    -5px 5px 20px 0 rgba(136, 217, 249, 0.5);
}
.card:nth-child(3):hover, .card:nth-child(6):hover{
    box-shadow: 5px -5px 20px 0 rgba(228, 195, 233, 0.5),
    -5px 5px 20px 0 rgba(16, 53, 197, 0.5);
}
.card:hover::after {
    transform: rotate(150deg);
}
.card h3{
    padding: 70px 25px 22px 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.stream{
    position: relative;
    width: 100%;
    padding-left: 48px;
    padding-right: 30px;
}
.card .card-bg{
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    background-position: 10px;
}
.card:nth-child(1) .card-bg{
    background-image: url("../img/blood-report.png");
}
.card:nth-child(2) .card-bg{
    background-image: url("../img/books.png");
}
.card:nth-child(3) .card-bg{
    background-image: url("../img/online-study.png");
}
.card:nth-child(4) .card-bg{
    background-image: url("../img/stationary-jar.png");
}
.card:nth-child(5) .card-bg{
    background-image: url("../img/atom.png");
}
.card:nth-child(6) .card-bg{
    background-image: url("../img/abacus.png");
}
.link-button{
    position: relative;
    top: 15px;
    left: 225px;
    padding: 8px 12px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(255,255,255,0.3);
    color: #FFFFFF;
    transition: 0.2s;
}
.link-button:hover{
    background-color: rgba(255,255,255,0.4);
}
.link-button:active{
    background-color: rgba(255,255,255,0.2);;
}











.info-box{
    position: fixed;
    width: 300px;
    height: 220px;
    right: 30px;
    top: 30px;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 15px 15px 105px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;
}
.info-box-heading, .lessons-container, .terms-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}
.info-box-heading{
    padding: 30px 30px 0;
}
.info-box-footer{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 30px 30px;
}
.info-box-footer span#lessons-heading, .info-box-footer span#terms-heading, .info-box-heading span#lessons-url{
    color: grey;
}
.info-box-footer span#lessons-count, .info-box-footer span#terms-count{
    font-size: x-large;
    font-weight: bold;
}
.info-box-footer span{
    padding: 0 30px;
}
.lessons-container:after{
    position: absolute;
    left: 122px;
    content: "";
    background-color: lightgray;
    width: 1px;
    height: 50px;
}