@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --clr: #f0f0f5;
}
body{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}
a{
    color: black;
}
.navigation {
    position: fixed; /*was relative*/
    width: 250px;
    height: 100vh;
    background: linear-gradient(50deg, rgb(70, 60, 78) 0%, rgb(58, 52, 88) 100%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.navigation ul{
    width: 100%;
    margin: 0 auto;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: left;
    font-weight: 500;
    text-decoration: none;
}
.navigation ul li a .icon{
    position: relative;
    display: inline-block;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
    opacity: 60%;
}
.navigation ul li a .text{
    position: relative;
    width: 90px;
    color: var(--clr);
    font-weight: 400;
    font-size: 1em;
    margin: 0 15px;
    transition: 0.5s;
}
.navigation ul li:hover a .icon, .navigation ul li:hover a .text{
    color: black;
    opacity: 100%;
}
.navigation ul li.active a .text, .navigation ul li.active a .icon{
    color: black;
    opacity: 1;
}
.navigation ul li:nth-child(4):after{
    content: '';
    background: var(--clr);
    position: absolute;
    height: 1px;
    width: 131px;
    left: 60px;
    top: 90px;
    opacity: 60%;
}
.navigation ul li:nth-child(5){
    margin-top: 50px;
}
.indicator{
    position: absolute;
    height: 70px;
    width: 225px;
    background: var(--clr);
    left: 25px;
    top: 125px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    transition: 0.5s;
}
.indicator:before{
    content: '';
    position: absolute;
    top:-50px;
    right: 0;
    background:transparent;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 10px 0 0 var(--clr);
}
.indicator:after{
    content: '';
    position: absolute;
    bottom:-50px;
    right: 0;
    background:transparent;
    height: 50px;
    width: 50px;
    border-top-right-radius: 30px;
    box-shadow: 10px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateY(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateY(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateY(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateY(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateY(calc(70px * 4 + 50px));
}
.navigation ul li:nth-child(6).active ~ .indicator{
    transform: translateY(calc(70px * 5 + 50px));
}


.header{
    background-color: transparent;
    height: 100px;
    width: 65%;
    position: fixed;
    top: 0;
    left: 250px;
}
.pagecontrol{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    position: absolute;
    width: 64px;
    height: 30px;
    left: 48px;
    top: calc(50% - 30px/2);
}
.pagecontrol a{
    text-decoration: none;
    font-size: 1.4em;
}
.pagecontrol a:nth-child(1){
    color: grey;
}
.pagecontrol a:nth-child(2){
    color: black;
    margin-left: 25px;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;

    position: absolute;
    width: 504px;
    height: 40px;
    left: 136px;
    top: calc(50% - 40px/2);

    background: #FFFFFF;
    border-radius: 22px;
    box-shadow: 10px 10px 80px rgba(63, 39, 102, 0.1);
}
input[type='text']{
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.1em;
}
a.search-btn{
    margin-right: 10px;
    color: grey;
    font-size: 1.2em;
}
.info-btn, .toggle-list-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 40px/2);
    background: #FFFFFF;
    /* shadow-violet */
    box-shadow: 10px 10px 80px rgba(63, 39, 102, 0.1);
    border-radius: 20px;
}
.info-btn{
    right: 200px;
}
.toggle-list-btn{
    right: 150px;
}
.info-btn a, .toggle-list-btn a{
    font-size: 1.2em;
}
.info-box{
    position: absolute;
    width: 300px;
    height: 220px;
    right: 70px;
    top: 30px;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 15px 15px 105px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;
}
.course-heading, .lessons-container, .terms-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}
.course-heading{
    padding: 30px 30px 0;
}
.course-footer{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 30px 30px;
}
.course-footer span#lessons-heading, .course-footer span#terms-heading, .course-heading span#lessons-url{
    color: grey;
}
.course-footer span#lessons-count, .course-footer span#terms-count{
    font-size: x-large;
    font-weight: bold;
}
.course-footer span{
    padding: 0 30px;
}
.lessons-container:after{
    position: absolute;
    left: 122px;
    content: "";
    background-color: lightgray;
    width: 1px;
    height: 50px;
}
/****/